*{
    text-transform: uppercase;
    border-width: 0%;
}
a{
    color: #000000;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
}
h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
h3{
    text-align: center;
}
body{
    width: 100%;
}
li{
    display: inline;
    margin: auto;
       
}
ul{
    width: 570px;
    padding: 15px;
    text-align: center;
    margin: 0px auto 0px auto;
}
#divv{
    border: 5px solid gray;
}
#neb{
    border-top: 5px solid;
    border-bottom: 2px solid;
    font-size: 20px;
    text-transform: capitalize;
}
p{
    text-align: center;
 width: 600px;
 margin: 20px auto 20px auto;
 font-weight: normal;
 line-height: 25px;
}